body {
    color: rgb(255, 255, 255);
}

#baggrund {
    opacity: 0.5;
}

.Titel {
    border: 10px outset rgb(0, 0, 0);
    background-color: rgb(48, 72, 102);
    color: rgb(255, 255, 255);
    text-align: center;
}

#img1 {
    float: left;
    margin: 10px;
}

.calculator {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    float: center;
}

.test {
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
    float: center;
}

#text-content {
    font-size: 25px;
    margin-left: 250px;
    margin-right: 250px;
}

#testspg {
    font-size: 25px;
    text-align: center;
}

#Side-overskrift {
    font-size: 40px;
    text-align: center;
}

